body {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
	background: rgb(2,0,36);
	background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(57,57,64,1) 21%, rgba(121,121,131,1) 29%, rgba(123,123,144,1) 42%, rgba(146,146,161,1) 63%, rgba(131,131,142,1) 74%, rgba(67,67,74,1) 85%, rgba(7,8,8,1) 100%);
}


/** HEADER **/

#header-nav {
    background: rgb(39,207,246);
	background: linear-gradient(0deg, rgba(39,207,246,1) 0%, rgba(79,218,250,1) 10%, rgba(191,241,252,1) 26%, rgba(150,236,255,1) 41%, rgba(150,236,255,1) 60%, rgba(191,241,252,1) 77%, rgba(79,218,250,1) 89%, rgba(39,207,246,1) 100%);
	border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: rgb(39,207,246);
	background: linear-gradient(90deg, rgba(39,207,246,1) 0%, rgba(79,218,250,1) 10%, rgba(191,241,252,1) 26%, rgba(150,236,255,1) 41%, rgba(150,236,255,1) 60%, rgba(191,241,252,1) 77%, rgba(79,218,250,1) 89%, rgba(39,207,246,1) 100%);
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #7d1913;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background: rgb(39,207,246);
	background: linear-gradient(90deg, rgba(39,207,246,1) 0%, rgba(79,218,250,1) 10%, rgba(191,241,252,1) 26%, rgba(150,236,255,1) 41%, rgba(150,236,255,1) 60%, rgba(191,241,252,1) 77%, rgba(79,218,250,1) 89%, rgba(39,207,246,1) 100%);
}

#nav-list a {
    /*text-align: center;*/
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background: rgb(155,194,246);
	background: linear-gradient(90deg, rgba(155,194,246,1) 0%, rgba(87,143,217,1) 10%, rgba(13,96,204,1) 26%, rgba(8,73,158,1) 44%, rgba(7,81,181,1) 60%, rgba(13,96,204,1) 77%, rgba(87,143,217,1) 91%, rgba(141,179,230,1) 100%);
	margin-bottom: 60px;
    box-shadow: 0 0 80px #18580b;
}


/** END HOME PAGE **/
